/bin/
.metadata/.lock
.metadata/.plugins/org.eclipse.core.resources/.history/86/00a3ae99dfce001b182cfedbde82e802
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.history/0/c0f8d03ee4ce001b182cfedbde82e802
.metadata/.plugins/org.eclipse.core.resources/.history/11/20c8a3e107cf001b182cfedbde82e802
.metadata/.plugins/org.eclipse.core.resources/.history/17/2023e8badace001b182cfedbde82e802
.metadata/.plugins/org.eclipse.core.resources/.history/1c/a04f81a004cf001b182cfedbde82e802
